@font-face {
    font-family: "Arial Rounded MT Bold";
    src: url("../font/arialroundedmtbold.ttf");
}

:root {
    --black: #1a1a1a;
    --blue: #608cab;
    --green: #72a079;
    --red: #bb4948;
    --transparent: #e6e6e61a;
    --white: #e6e6e6;
}

* {
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    font-family: "Arial Rounded MT Bold";
    margin: 0;
    padding: 0;
    user-select: none;
}

*:hover {
    cursor: pointer;
}

html {
    font-size: clamp(8px, 2vw, 16px);
}

body {
    align-items: center;
    background-color: var(--black);
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    transition: background-color 0.5s;
}

h1 {
    font-size: 10rem;
    line-height: 1;
}

h3 {
    font-size: 2rem;
    line-height: 1;
}

button {
    background-color: var(--white);
    border: none;
    border-radius: 100px;
    font-size: 1.5rem;
    mix-blend-mode: screen;
    padding: 0.5rem 2rem;
}

.full-viewport {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}

.card {
    align-items: center;
    background-color: var(--transparent);
    border-radius: 6rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
}